.containerArea {
    top: 50px;
    left: 10%;
    position: absolute;
    margin-top: 46;
    height: 600px;
    width: 60%;
    border: 2.0px solid #B2B9B5;
}

.title-box {
    top: 70px;
    left: 12%;
    position: absolute;
    height: 100px;
    width: 50%;
    border: 2.0px solid #B2B9B5;
}

.article-box {
    top: 190px;
    left: 12%;
    position: absolute;
    height: 400px;
    width: 80%;
    border: 2.0px solid #B2B9B5;
}

.articles input {
    bottom: 20px;
    right: 20px;
    position: absolute;
    width: 40px;
    height: 20px;
    text-align: right;
    font-size: 8px;
}

.article span {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font: 15px;
}


.comments {
    top: 1050px;
    left: 10%;
    position: absolute;
    height: auto;
    width: 60%;
    text-align: left;
    font-size: 20px;
    border: 2.0px solid #B2B9B5;
    background-color: rgba(255, 255, 255, 0);
}

.content-box {
    margin: 20px;
    height: 100px;
    width: 80%;
/*    border: 2.0px solid #B2B9B5;*/
}